<div class="box">
  <h4> MovieMania is made to help users make new friends by going to movies they both want to see! Listed below, you can see the movies that are currently playing. Click on a movie to see the description, trailer, any parties that are already created, and a link to create your own viewing party! </h4>
</div>
<br />

 <div class="grid">
   <% @movies.each do |movie| %>
   <figure class="effect-honey">
   	<%= link_to(image_tag(movie.movie_poster, height: 300, width: 220), movie) %> 
    </figure>
   <% end %> 
  </div>


