<h4> MovieMania is made to help users make new friends by going to movies they both want to see! </h4>
<br />
<h4> Movies currently playing: </h4> <br />
 <div class="grid">
   <% @movies.each do |movie| %>
   <figure class="effect-honey">
   	<%= link_to(image_tag(movie.movie_poster, height: 300, width: 220), movie) %> 
    </figure>
   <% end %> 
  </div>


