

<h3> Movies currently playing: </h3> <br>
 <div class="grid">
   <% @movies.each do |movie| %>
   <figure class="effect-honey">
   	<%= link_to(image_tag(movie.movie_poster, height: 300, width: 220), movie) %> 
    </figure>
   <% end %> 
  </div>


