<h1> Here is a list of upcoming hangouts </h1>
<% @viewing_parties.each do |viewing_party| %>
 <%= link_to viewing_party.movie.name, viewing_party_path(viewing_party) %> <br />
 <img src = <%= viewing_party.movie.movie_poster%> style="width:140px;height:200px"> <br />
  <%= viewing_party.theater %> <br />
   <%= viewing_party.viewing_time%> <br />
  <br />
 <% end %> 