<h3> Welcome <%= @user.username%> </h3>

<br />
My Viewing Parties: <br />
<% if @user.viewing_parties.empty? == true %>
  You are not currently in any parties. You should join one!
<% else @user.viewing_parties.each do |viewing_party| %>
  <%= link_to viewing_party.movie.name, viewing_party_path(viewing_party) %> - 
  <%= viewing_party.theater %> - <%= viewing_party.viewing_time%>
<% end  %>
<% end %>